.article.peticio {

    background-color: #fff;

    header {
        @include minBP(6) {
            @include layout(0, 14);
            @include phantomColBefore(7, 2);
            @include phantomColAfter(7, 2);
        }
    }//header

    .peticioform {
        @include maxBP(5) {
            order: 2;
        }
        
        .meterBar {
            height: 24px;
            background-color: #fff;
            margin-bottom: 2em;
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            // border: 2px solid #fff;
            &__label {
                // font-family: Poppins,sans-serif;
                // font-weight: 900;
                letter-spacing: .2px;
                text-align: center;
                font-size: 16px;
                position: relative;
                top: 4px;
            }
            .bar {
                background-color: $color-yellow01;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 40%;
                // border-radius: 12px;
            }
        }
        
        form {
            max-width: 400px;
            margin: 0 auto;
            padding: $gutter;
            background-color: $color-yellow00;
            border-radius: 4px;
            padding-top: 2em;
        }

        .form-item-textarea textarea, .form-item-textfield input[type=email], .form-item-textfield input[type=number], .form-item-textfield input[type=text] {
            background-color: #fff;
        }
        .form-type-checkbox:before, .form-type-radios:before {
            background-color: #fff;
        }
        .form-item-checkbox, .form-item-checkboxes, .form-item-radios, .form-item-select, .form-item-textarea, .form-item-textfield {
            margin-bottom: 2em;
        }
        .checkboxes {
            .form-type-checkbox {
                margin-bottom: 1.5em;
            }
            .form-type-checkbox:before, .form-type-radios:before {
                top: 0;
            }
            .form-type-checkbox input[type=checkbox]:checked+label:after, .form-type-radios input[type=checkbox]:checked+label:after {
                top: .1px;
            }
            label {
                line-height: 1.5;
            }
            margin-bottom: 2em;
        }
        
        
        min-height: 16px;
        @include layout(0, 16);
        @include layout(5, 8);
        @include layout(6, 6);
        @include layout(7, 5);
        @include phantomColBefore(7, 2);

        input[type="submit"] {
          @include button(2);
          -webkit-appearance: none;
          -moz-appearance: none;
          border: 0;
          width: 100%;
          cursor: pointer;
          &:hover {
              background-color: darken($color-green, 10%);
          }
        }//.submit

    }//.peticioform

    .content {
        position: relative;
        top: -4px;
        @include maxBP(5) {
            order: 1;
        }
        @include layout(0, 16);
        @include layout(5, 8);
        @include layout(6, 10);
        @include layout(7, 7);
        h2:first-child {
            padding-top: 0;
            margin-bottom: 1em;
        }   
        figure {
            margin: 0 0 2em;
        }
    }//.content

    .legal-text {
        background-color: $color-grey;
        padding: $gutter;
        h2 {
            text-align: center;
            font-family: Merriweather,serif;
            text-transform: none;
            font-size: 1.6rem;
        }
    }

    .hidable-toggle {
        // background-color: pink;
        display: none;
    }
    .hidable-wrapper {
        overflow: hidden;
        max-height: 0;
        transition: max-height .35s ease-in;
        
    }
    .peticio-text {
        margin-bottom: 3em;
    }
    
    
    
    @include maxBP(5) {
        .hidable-toggle {
            cursor: pointer;
            display: block;
            width: 100%;
            height: 32px;

        }
        .peticio-text.hidable {
            .hidable-toggle {
                // border: 2px solid black;
                text-align: center;
                // text-decoration: none;
                font-family: Montserrat,sans-serif;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.16667em;
                &::before {
                    content: 'A petíció teljes szövege +';
                    position: relative;
                    top: 10px;
                } 
            }
            .hidable-wrapper {
                position: relative;
                &::after {
                    content: ' ';
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 128px;
                    // background-color: salmon;
                    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 39%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
                    pointer-events: none;
                    transition: opacity .3s ease-in;
                }
            }
        }
        .peticio-text.hidable.open {
            .hidable-wrapper {
                &::after {
                    opacity: 0;
                }
            }
            
            .hidable-toggle {
                &::before {
                    content: 'Kevesebb -';
                } 
            }
        }
        .legal-text.hidable {
            .hidable-wrapper {
                h2 {
                    display: none;
                }
            }
            .hidable-toggle {
                position: relative;
                transition: margin-bottom .3s ease-in;
                h2 {
                    margin: 0;
                    position: relative;
                    top: 4px;
                }
                i.icon {
                    display: block;
                    width: 29px;
                    height: 29px;
                    border: 2px solid $c-black;
                    border-radius: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    &::after {
                        content: '+';
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        margin-left: auto;
                        margin-right: auto;
                        top: 6px;
                        left: 0;
                        right: 0;
                    }
                }

            }
        }
        .legal-text.hidable.open {
            .hidable-toggle {
                margin-bottom: 1em;
            }
            .hidable-toggle i.icon::after {
                content: '-';
            }
        }
    }

    @include minBP(5) {
        .legal-show, .peticio-show {
            display: none;
        }
        .peticio-text.hidable {
            .hidable-toggle {
                display: none;
            }
        }
        
    }
    
}//.article.peticio

